@font-face {
    font-family: 'medula';
    src: url('../Source_Code_Pro/MedulaOne-Regular.ttf');
}
        
@font-face {
    font-family: 'source';
    src: url('../Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    border: 0;
    padding: 0;
}
a4{
    width: 500px;
    height: 700px;
}
a4-landscape{
    height: 500px;
    width: 700px;
}
nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 100vh;
    z-index: 99;
}
nav a{
    display: flex;
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'source';
}
row{
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: row;
}
column{
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;
}
row>separator{
    border-right: 1px solid black;
}
.wrap{
    flex-wrap: wrap;
}
.on-top{
    position: relative;
    z-index: 99;
}