.btn {
  border-color: #313131;
  margin: 3px;
}
body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}
nav {
  flex: 0 1 0;
  min-width: 24px;
  position: relative;
  height: 100%;
  display: flex;
  transition: 0.3s all;
  z-index: 9999;
}
nav #map > *:not(button[toggle]) {
  opacity: 0;
  pointer-events: none;
}
nav.in #map > *:not(button[toggle]) {
  opacity: 1;
  pointer-events: all;
}
data-controls {
  display: block;
}
data-controls button.btn {
  flex: 1 0 0;
}
nav.in {
  flex: 0.6 1 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input {
  font-family: "source";
  text-align: center;
  margin: 4px 0px 2px 0px;
}
h4 {
  font-size: 16px;
}
map {
  display: block;
  gap: var(--gap);
  counter-set: row-no 0;
  width: 100%;
  height: 100vh;
  overflow-x: scroll;
  overflow-y: scroll;
  cursor: grab;
}
map-frame {
  display: flex;
  position: relative;
  overflow: hidden;
  border: 1px solid black;
  flex: 1 1 0;
  height: calc(100vh - 2px);
  background: #e8dcb8;
}
map-frame instructions {
  position: absolute;
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  z-index: 99999;
  pointer-events: none;
}
map-inner {
  top: 0px;
  left: 0px;
  position: relative;
  display: inline-block;
  padding: 2000px;
  pointer-events: none;
}
box {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
}
hex {
  display: inline;
  position: absolute;
  height: 170px;
  width: 135px;
  transform: scale(1);
  animation: hexIn 1s;
  transition: 0.5s all;
  cursor: pointer;
}
hex * {
  transition: 0.5s all;
}
hex.hover,
hex.selected {
  z-index: 999 !important;
  transform: scale(1.2);
}
hex .tile-mask {
  overflow: hidden;
}
hex .tile-mask,
hex texture-container,
hex content-container {
  display: inline;
  position: absolute;
  height: 100%;
  width: 100%;
}
hex content-container {
  pointer-events: none;
  transform: translateY(-25px);
}
hex texture-container {
  transform: rotateX(45deg);
  filter: drop-shadow(3px 3px 3px #000);
}
hex texture-container texture {
  background-size: contain;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

hex vertical,
hex right-tilt {
  transform: rotateZ(60deg);
}
hex left-tilt {
  transform: rotateZ(-120deg);
}
hex texture-container river-container {
  width: 50%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}
hex texture-container river-container right-tilt left-tilt horizontal {
  transform: rotateZ(60deg);
  width: 100% !important;
  height: 100% !important;
}
hex river-container right-tilt {
  transform: rotateZ(60deg) !important;
}
hex river-container left-tilt {
  transform: rotateZ(-120deg) !important;
}
hex river-container river {
  background-image: url(../img/map/water.png);
  background-size: 100%;
  animation: water-move 10s ease-in-out;
  animation-iteration-count: infinite;
}
hex[tile-type="water"] texture-container river-container:first-child {
  display: block;
}
hex[tile-type="water"][n-1_-1] texture-container river-container:nth-child(2) {
  display: block;
}
hex[tile-type="water"][n1_-1] texture-container river-container:nth-child(3) {
  display: block;
}
hex[tile-type="water"][n-1_1] texture-container river-container:nth-child(4) {
  display: block;
}
hex[tile-type="water"][n1_1] texture-container river-container:nth-child(5) {
  display: block;
}
hex[tile-type="water"][n-2_0] texture-container river-container:nth-child(6) {
  display: block;
}
hex[tile-type="water"][n2_0] texture-container river-container:nth-child(7) {
  display: block;
}
hex texture-container river-container:nth-child(2) {
  left: 41%;
  top: 24%;
}
hex texture-container river-container:nth-child(3) {
  left: 59%;
  top: 24%;
}
hex texture-container river-container:nth-child(4) {
  left: 41%;
  top: 75%;
}
hex texture-container river-container:nth-child(5) {
  left: 59%;
  top: 75%;
}
hex texture-container river-container:nth-child(6) {
  left: 34%;
}
hex texture-container river-container:nth-child(7) {
  left: 65%;
}
hex inner {
  display: block;
  width: 200%;
  height: 100%;
  transform: translateX(-25%);
  pointer-events: all;
}
hex vertical inner:hover {
  transform: translateX(-25%);
}
hex inner * {
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
}
hex vertical inner ui {
  opacity: 0;
  background: #efe;
}
hex.selected vertical inner ui,
hex.hover vertical inner ui {
  opacity: 0.5;
}
hex icon,
hex water-icon,
hex .shadow,
hex cluster {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 75%;
  transform: translateX(-50%) translateY(-100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 1;
  display: none;
}
hex water-icon,
hex water-icon-shadow {
  left: 50%;
  top: 85%;
}
hex[tile-type="landmark"] icon,
hex[tile-type="landmark"] icon-shadow {
  display: block;
}
hex[tile-type="water"] water-icon,
hex[tile-type="water"] water-icon-shadow {
  display: block;
}
hex cluster {
  width: 0px;
  height: 0px;
  left: 50%;
  top: 72%;
  position: relative;
  display: none;
}
hex cluster-image {
  position: absolute;
  display: none;
  width: 40px;
  height: 60px;
  transform: translateX(-50%) translateY(-100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 2;
}
hex cluster-image {
  filter: drop-shadow(10px -5px 5px rgba(0, 0, 0, 0.5));
}
hex[tile-type="forest"] cluster-image {
  width: 60px;
  height: 90px;
}
hex[texture="img/map/water.png"] inner texture {
  animation: water-hex-move 10s ease-in-out;
  background-size: 75%;
  transform: rotateZ(180deg);
  animation-iteration-count: infinite;
}
hex cluster-image:first-child {
  display: block;
}
hex[n1_-1] cluster-image:nth-child(2),
hex[n-1_-1] cluster-image:nth-child(3) {
  top: -30px;
  z-index: 1;
  display: block;
}
hex[n1_1] cluster-image:nth-child(6),
hex[n-1_1] cluster-image:nth-child(7) {
  top: 30px;
  z-index: 3;
  display: block;
}
hex cluster-image:nth-child(2),
hex cluster-image:nth-child(6) {
  left: 25px;
}
hex cluster-image:nth-child(3),
hex cluster-image:nth-child(7) {
  left: -25px;
}
hex[n2_0] cluster-image:nth-child(4) {
  left: 45px;
  display: block;
}
hex[n-2_0] cluster-image:nth-child(5) {
  left: -45px;
  display: block;
}

hex .shadow {
  transform: translateX(0%) translateY(-100%) skew(-46deg, 0deg);
  filter: brightness(0) blur(3px);
  opacity: 0.2;
  z-index: 0;
}
hex icon.animate {
  animation: iconRender 0.5s;
}
hex shadow.animate {
  animation: shadowRender 0.5s;
}
hex name {
  position: absolute;
  bottom: 26px;
  left: 50%;
  white-space: nowrap;
  transform: translateX(-50%);
  font-family: medula;
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 0px 3px;
  font-size: 28px;
  line-height: 28px;
  text-transform: uppercase;
  z-index: 9;
  user-select: none;
}
hex:hover name {
  transform: translateX(-50%) translateY(10px) scale(1.3);
  background-color: rgba(0, 0, 0, 0);
}
hex.selected name {
  transform: translateX(-50%) translateY(-8px) scale(1.3);
  background-color: rgba(0, 0, 0, 0);
}
.navtab {
  height: 100%;
  display: flex;
  flex-direction: column;
}
navtab-buttons {
  position: absolute;
  right: -20px;
  width: 20px;
  display: flex;
  flex-direction: column;
  height: 90vh;
}
navtab-buttons button {
  pointer-events: all;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.2s;
  background-color: #ddd;
}
navtab-buttons button span {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
navtab-buttons button[selected][tabbutton] {
  background-color: #fff;
}
.navtab {
  display: none;
}
.navtab.selected {
  display: flex;
}
selected-hex {
  display: none;
}
selected-hex.visible {
  display: flex;
  flex-direction: column;
  pointer-events: all;
  justify-content: flex-start;
  min-height: 0;
  flex: 1 1 0;
}
selected-hex input {
  align-self: center;
  padding: 10px;
  font-family: source;
  font-size: 12px;
  width: 80%;
  padding: 5px;
}
selected-hex .remove-tile {
  align-self: center;
}
selected-hex textarea {
  flex: 1 1 0;
  font-size: 12px;
}
selected-hex row.tile-type {
  flex: 0 0 0;
}
selected-hex row.tile-type label {
  flex-direction: column;
  flex: 1 1 0;
}
selected-hex row.tile-type label,
selected-hex row.tile-type span,
selected-hex row.tile-type input {
  display: flex;
  justify-content: center;
  width: 100%;
}
selected-hex row.tile-type label:hover {
  text-decoration: underline;
}

clouds {
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url(../img/map/clouds.png);
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.2;
  background-size: 500%;
  pointer-events: none;
  filter: blur(20px);
  animation: cloudPan 15s;
  animation-iteration-count: infinite;
}
tile-type-options {
  display: flex;
  flex: 3 0 0;

  overflow: hidden;
}
icons,
water-icons,
textures {
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  width: calc(100% -2px);
  flex: 1;
  gap: 5px;
  border: 1px solid black;
  margin-bottom: 5px;
}
icons icon,
water-icons icon,
textures texture {
  display: flex;
  flex-direction: column;
  flex: 0 1 0;
}
icons icon-inner,
water-icons icon-inner,
textures texture-inner {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
  border: 3px dotted black;
}
icons icon-img,
water-icons icon-img,
textures texture-img {
  display: flex;
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-weight: bold;
  text-align: center;
}
icons .selected icon-inner,
water-icons .selected icon-inner,
textures .selected texture-inner {
  background-color: #dfd;
  border: 3px solid green;
}
input#randomness {
  width: calc(100% - 30px);
}
button.chevronToggle {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9999;
}
button.chevronToggle::before {
  content: ">";
}
button.chevronToggle.in::before {
  content: "<";
}
#campaign .faction-stats {
  gap: 20px;
  flex-grow: 0;
  flex-wrap: wrap;
}
#campaign .faction-stats box {
  flex: 45%;
}
#campaign .faction-stats label {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  justify-content: space-between;
  font-weight: bold;
}
#campaign .faction-stats label input {
  display: flex;
  flex-direction: row;
  width: 50px;
}
@keyframes cloudPan {
  0% {
    filter: blur(10px);
    transform: rotate(0deg);
  }
  50% {
    filter: blur(30px);
    transform: rotate(15deg);
  }
  100% {
    filter: blur(10px);
    transform: rotate(0deg);
  }
}
@keyframes hexIn {
  from {
    transform: rotateY(90deg);
  }
  to {
    transform: rotateY(0deg);
  }
}

@keyframes iconRender {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-150%) scale(0.4);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-100%) scale(1);
  }
}

@keyframes shadowRender {
  0% {
    transform: translateX(-25%) translateY(-100%) skew(-0deg, 0deg) scale(0.4);
    opacity: 0;
  }
  100% {
    transform: translateX(0%) translateY(-100%) skew(-46deg, 0deg) scale(1);
    opacity: 0.2;
  }
}

@keyframes water-move {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 30% 600%;
  }
  100% {
    background-position: 0%;
  }
}
@keyframes water-hex-move {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: -10% -5%;
  }
  100% {
    background-position: 0%;
  }
}
